<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: rgb(233, 215, 132);
            }
            .color{
              
               
               margin-top:10%;
            }
            .bg{
                background-color:lightgray;
            }
           
        </style>
        </head>
        <body>
            <form action="" method="POST">
                <input class="bg" name="id" placeholder="enter id">
                <input class="bg" name="name" placeholder="enter name">
                <input class="bg" name="language" placeholder="enter language">
                <input class="bg" type="submit">

            </form>
        </body>
  
</html>